html{
    font-size: 100%;
}
.title{
    background-color: gray;
    color: white;
    padding: 3rem;
}

.container-box{
    margin: 5%;
}
.icon{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-6{
    margin-bottom: 1rem;
}
.col-6 .card{
    height: 100%;
}

table, tr, th, td{
    border: 1px solid black;
}
h6{
    font-style: italic;
}

@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }
}
@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}